.button {
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 100px;
  }
  
  .button1 {
    background-color: white;
    color: black;
    border: 2px solid #e632e6;
  }
  
  .button1:hover {
    background-color: #e632e6;
    color: white;
  }
  
  .button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }

  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  body {  
    background: center/contain no-repeat linear-gradient(135deg, red,orange,yellow,green,blue,violet); 
    color: red;
    font: italic bold 3.2rem cursive;
    text-shadow: 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black;
    letter-spacing: 3px;
  }
  
  ol {
    /* Remove defaults */
    margin: 0;
    padding: 0;
    list-style: none;
      
    /* Use CSS grid for spacing between list items */
    display: grid;
    gap: 20px;
    
    /* Create counter */
    counter-reset: list;
  }
  
  li {
    /* Use CSS grid for spacing between marker and list item contents */
    display: grid;
    grid-template-columns: min-content 500px;
    column-gap: 20px;
    
    /* Increment counter */
    counter-increment: list;
  }
  
  li::before {
    /* Set content to an empty string */
    content: counter(list);
    
    /* Add a background image for the marker */
    background: center/contain no-repeat url("pictures/aelogo\ nieuw.JPG");
    
    /* Add animation */
    animation: 3s linear 1s infinite spin;
      
    /* Create the box and center its contents */
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Additional text styles */
    color: white;
  }

  form{
    max-width:320px;
    
 }
 
 .time-picker{
    display:flex;
    justify-content:center;
    flex-direction:column;
    transition:all .4s ease;
    height:0;
    overflow:hidden;
    .set-time{
       display:flex;
       justify-content:center;
       margin-bottom:15px;
     }
    .label{
          width:60px;
          margin:0 5px;
          text-align:center;
          line-height:34px;
          display:inline-style;
          a{
             display:block;
             border:1px solid #DDDDDD;
             cursor:pointer;
             font-size:28px;
             font-weight:bold;
             border-radius:3px;
             &:hover,
             &:active{
                background-color:red;
                color:#FFFFFF;
             }
          }
          .set{
             text-align:center;
             box-sizing:border-box;
             width:100%;
             height:40px;
             line-height:34px;
             font-size:20px;
             font-weight:bold;
             border:transparent;
          }
       }
    #submitTime{
       text-align:center;
       line-height:34px;
       border:1px solid #DDDDDD;
       width:128px;
       margin:auto;
       border-radius:3px;
       cursor:pointer;
       text-transform:uppercase;
       font-weight:bold;
    }
  }
 
 .time-picker.open{
    border:1px solid #DDDDDD;
    padding:15px;
    transition:all .5s ease;
    height:auto;
    background-color:#FCFCFC;
 }
 
 #registratieHist{
  color:#e632e6;
  
}

input[type=time]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: content-box;
}